<ion-header>
  <ion-navbar>
    <ion-title>
      {{ "Authentication page" | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding ngClass="login">

  <ion-fab top right middle #addconnexion>
    <button ion-fab><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="bottom">
      <button ion-fab (click)="addConnection('glpi', addconnexion)"> <i class="fa fa-plug"></i></button> <!-- GLPI -->
    </ion-fab-list>
  </ion-fab>


  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" *ngIf="connections.length > 0">
    <div class="login-box">
      <ion-row *ngFor="let connection of connections">
        <ion-col>
          <ion-list no-border>
            <ion-list-header>
              {{connection.type}}
              <i item-end class="fa fa-plug"></i>
              <ion-icon ion-button item-end (click)="toggleOptions(connection)" name="md-options"></ion-icon>
            </ion-list-header>
            <ion-item>
              <ion-input placeholder="Connection name" name="connection.name" type="text" required [(ngModel)]="connection.name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Username" name="username" id="loginField" type="text" required [(ngModel)]="connection.username" #email></ion-input>
            </ion-item>
            <ion-item>
              <ion-input placeholder="Password" name="password" id="passwordField" type="password" required [(ngModel)]="connection.password"></ion-input>
            </ion-item>
            <ion-item *ngIf="connection.display_options">
              <ion-input placeholder="Glpiurl" name="url" id="glpiurlField" type="text" required [(ngModel)]="connection.url"></ion-input>
            </ion-item>
            <ion-item *ngIf="connection.display_options">
              <ion-input placeholder="Apptoken" name="app_token" id="apptokenField" type="text" required [(ngModel)]="connection.app_token"></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
          <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login
          </button>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>
