<ion-header>
  <ion-navbar>
    <ion-title *ngIf="selectedItem.id>0">Ticket #{{selectedItem.id}} - {{selectedItem.name}}</ion-title>
    <ion-title *ngIf="selectedItem.id==0">{{ "New ticket" | translate }}</ion-title>
    <ion-buttons end *ngIf="changed">
      <button ion-button icon-end solid color="danger" (click)="updateItem()">
        <ion-icon name="md-send"></ion-icon>
        {{ "Save modifications" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!--
Reste à caser :
* Date d'ouverture
* auteur
* Dernière modification
* SLA
* OLA
* Catégorie
* Urgence
* Impact
* Source de la demande
* validation
* Lieu
* Tickets liés
* timeline (suivi, tache, documents, résolution)
-->

<!-- <ion-content padding *ngIf="interfacetype=='helpdesk'"> -->
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-md-10>
        <ion-card class="card-ticket">
          <ion-card-content>
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-1>
                  <ion-item class="vertical-bar">
                    <div class="title">Ticket ID</div>
                    <h3 style="font-size: 18px;text-align: left;padding-top: 10px;">{{selectedItem.id}}</h3>
                  </ion-item>
                </ion-col>
                <ion-col col-2>
                  <ion-item class="vertical-bar">
                    <ion-label stacked>Status</ion-label>
                    <ion-select [(ngModel)]="selectedItem.status" (ionChange)="changeField('status')" style="font-size: 18px;text-align: left;padding-top: 10px;">
                      <ion-option *ngFor="let st of status" [value]="st.value">
                        {{st.viewValue}}
                      </ion-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                <ion-col col-2>
                  <ion-item class="vertical-bar">
                    <div class="title">{{ "Type" | translate }}</div>
                    <h3>
                      <button ion-button item-end icon-start clear (click)="setType(1)">
                        <i style="font-size: 20px;" class="fas fa-ambulance {{typeIncidentClass}}"></i>
                        <br><span class="{{typeIncidentClass}}">incident</span>
                      </button>
                      <button ion-button item-end icon-start clear (click)="setType(2)">
                        <i style="font-size: 20px;" class="fas fa-paper-plane {{typeRequestClass}}"></i>
                        <br><span class="{{typeRequestClass}}">demande</span>
                      </button>
                    </h3>
                  </ion-item>
                </ion-col>
                <ion-col col-2>
                  <ion-item class="vertical-bar">
                    <div class="title">{{ "Priority" | translate }}</div>
                    <h3>
                      <i item-end style="font-size: 18px;" class="fas fa-seedling priority{{rateClass.priority[1]}}" (click)="setRate('priority', 1)"></i>
                      <i item-end style="font-size: 18px;" class="fas fa-seedling priority{{rateClass.priority[2]}}" (click)="setRate('priority', 2)"></i>
                      <i item-end style="font-size: 18px;" class="fas fa-seedling priority{{rateClass.priority[3]}}" (click)="setRate('priority', 3)"></i>
                      <i item-end style="font-size: 18px;" class="fas fa-seedling priority{{rateClass.priority[4]}}" (click)="setRate('priority', 4)"></i>
                      <i item-end style="font-size: 18px;" class="fas fa-seedling priority{{rateClass.priority[5]}}" (click)="setRate('priority', 5)"></i>
                    </h3>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-card class="card-ticket">
          <ion-card-content>
            <ion-list>
              <ion-item no-lines *ngIf="!hiddenItem.id1">
                <ion-label>{{ "Title" | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="selectedItem.name" value="{{selectedItem.name}}" (input)="changeField('name')"></ion-input>
              </ion-item>
              <ion-item no-lines *ngIf="!hiddenItem.id21">
                <ion-label floating>{{ "Description" | translate }}</ion-label>
                <ion-textarea type="text" [(ngModel)]="selectedItem.content" value="{{selectedItem.content}}" [attr.rows]="10" (input)="changeField('content')"></ion-textarea>
              </ion-item>
            </ion-list>

            <!-- Load the timeline -->
            <ion-list>
              <ion-item col-md-10>
                <div class="timeline">
                  <div class="timeline__group" *ngFor="let dateIndex of timeline.indexes">
                    <span class="timeline__year">{{timeline[dateIndex]._displaydate}}</span>
                    <div *ngFor="let timeIndex of timeline[dateIndex].data.indexes">
                      <div class="timeline__box" *ngFor="let item of timeline[dateIndex].data[timeIndex].data">
                        <div class="timeline__date {{item._color}}">
                          <span class="timeline__month">
                            {{item._displaytime}}
                          </span>
                        </div>
                        <ion-card>
                          <ion-card-header class="{{item._color}}">
                            <i class="fas fa-{{item._icon}} fa-2x" style="padding-left: 10px;" item-start></i>
                            {{ "Created by" | translate }} {{item._user}}
                          </ion-card-header>
                          <ion-card-content>
                            {{item.content}}
                          </ion-card-content>
                        </ion-card>
                      </div>
                    </div>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-md-2>
        <ion-card class="card-ticket">
          <ion-card-content>
            <ion-list>
              <ion-list-header>
                {{ "Requesters" | translate }}
                <ion-fab right middle>
                  <button ion-fab mini><ion-icon name="add"></ion-icon></button>
                  <ion-fab-list side="left">
                    <button ion-fab (click)="addActors.showUser=true" *ngIf="!hiddenItem.id4"><ion-icon name="person"></ion-icon></button>
                    <button ion-fab (click)="addActors.showGroup=true" *ngIf="!hiddenItem.id71"><ion-icon name="md-people"></ion-icon></button>
                  </ion-fab-list>
                </ion-fab>
              </ion-list-header>
              <ion-item *ngFor="let user of actors.demandeurs">
                <ion-list>
                  <ion-item>
                    <ion-avatar item-start class="avatar-center">
                      <i class="fas fa-user-circle fa-3x"></i>
                    </ion-avatar>
                    {{user.completename}}
                  </ion-item>
                  <ion-item text-wrap no-lines>
                    <ion-chip style="width: 100%;" *ngIf="user.phone!=''">
                      <ion-icon color="primary"><i class="fas fa-phone"></i></ion-icon>
                      <div ion-fixed class="chip-content">{{user.phone}}</div>
                    </ion-chip>
                    <ion-chip style="width: 100%;" *ngFor="let mail of user.emails">
                      <ion-icon color="primary"><i class="fas fa-envelope"></i></ion-icon>
                      <div ion-fixed class="chip-content">{{mail}}</div>
                    </ion-chip>
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-list-header>
                {{ "Observers" | translate }}
                <ion-fab right middle>
                  <button ion-fab mini><ion-icon name="add"></ion-icon></button>
                  <ion-fab-list side="left">
                    <button ion-fab (click)="addActors.showUser=true" *ngIf="!hiddenItem.id4"><ion-icon name="person"></ion-icon></button>
                    <button ion-fab (click)="addActors.showGroup=true" *ngIf="!hiddenItem.id71"><ion-icon name="md-people"></ion-icon></button>
                  </ion-fab-list>
                </ion-fab>
              </ion-list-header>
              <ion-item *ngFor="let user of actors.observateurs">
                <ion-list>
                  <ion-item>
                    <ion-avatar item-start class="avatar-center">
                      <i class="fas fa-user-circle fa-3x"></i>
                    </ion-avatar>
                    {{user.completename}}
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
            <ion-list>
              <ion-list-header>
                {{ "Assigned" | translate }}
                <ion-fab right middle>
                  <button ion-fab mini><ion-icon name="add"></ion-icon></button>
                  <ion-fab-list side="left">
                    <button ion-fab (click)="addActors.showUser=true" *ngIf="!hiddenItem.id4"><ion-icon name="person"></ion-icon></button>
                    <button ion-fab (click)="addActors.showGroup=true" *ngIf="!hiddenItem.id71"><ion-icon name="md-people"></ion-icon></button>
                  </ion-fab-list>
                </ion-fab>
              </ion-list-header>
              <ion-item *ngFor="let user of actors.assignes">
                <ion-list>
                  <ion-item>
                    <ion-avatar item-start class="avatar-center">
                      <i class="fas fa-user-circle fa-3x"></i>
                    </ion-avatar>
                    {{user.completename}}
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
