<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{ itemtype | translate }}
    </ion-title>
    <ion-buttons start>
      <button ion-fab mini (click)="openModalSearch()"><ion-icon name="md-search"></ion-icon></button>
    </ion-buttons>
    <ion-buttons start>
      <button ion-fab mini (click)="itemTapped($event)" color="danger"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-fab mini (click)="openModalPreference()" color="light"><ion-icon name="md-settings"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <ngx-datatable
      class="material"
      [rows]="drows"
      [columns]="dcolumns"
      [columnMode]="'force'"
      [headerHeight]="50"
      [footerHeight]="50"
      [rowHeight]="'auto'">
    </ngx-datatable>
    <ng-template #messagecontainer>
    </ng-template>
    <searchtemplate-ticket></searchtemplate-ticket>
  </div>
  <!-- part of code to display columns to display, to manage with displaypreference endpoint
  <div class='selected-column'>
    <h4>Available Columns</h4>
    <ul>
      <li *ngFor='let col of allColumns'>
        <input
          type='checkbox'
          [id]="col.name"
          (click)='toggle(col)'
          [checked]='isChecked(col)'
        />
        <label [attr.for]="col.name">{{col.name}}</label>
      </li>
    </ul>
  </div>
  -->
  <div id="tpltest"></div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="infiniteloop">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <p>{{itemscount}} / {{totalcount}}</p>
    </ion-toolbar>
  </ion-footer>
