<ion-item>
  <i class="fas fa-filter" item-start></i>
  <ion-label>Only with data</ion-label>
  <ion-toggle [(ngModel)]="onlyWithData"></ion-toggle>
</ion-item>

<ion-list *ngIf="pages.length==0" >
<button ion-item *ngFor="let p of submenu" (click)="loadMenu(p.type)">
  {{p.name}}
</button>
</ion-list>

<button ion-item (click)="return()" *ngIf="pages.length>0">
  <i class="fas fa-chevron-circle-left"></i> Return
</button>

<span *ngFor="let p of pages" >
  <button menuClose ion-item (click)="goToPage(p.component)" *ngIf="!onlyWithData || (onlyWithData && p.number > 0)">
    {{p.name}}<ion-badge item-end>{{p.number}}</ion-badge>
  </button>
</span>
