ion-card {
  width: 70%;
  margin-left: 15%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%) !important;
  display: block !important;  
}

ion-item {
  --padding-end: 0px;
  --inner-padding-end: 0px;
}

ion-grid {
  margin-left: 0 !important;
  margin-right: 0 !important;  
}

fa-icon {
  color: #737373;
}

.container {
  position: relative;
  text-align: center;
  color: #737373;

  div {
    position: absolute;
    bottom: 8px;
    right: 50%;
    transform: translate(50%, 0) !important;
    width: 800px;
  }

  a:link {
    color: #737373;
    text-decoration: none;
  }

  a:visited {
    color: #737373;
    text-decoration: none;
  }

  a:hover {
    color: #737373;
    text-decoration: none;
  }

  a:active {
    color: #737373;
    text-decoration: none;
  }

}

.spinnerbutton {
  align-content: center;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 13px;
  margin-left: 80px;
  margin-top: 5px;
}