// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import "../assets/styles/ngx-datatable/material.css";

ion-icon {
  &[class*="glpi-"] {
    width: 100px;
    height: 18px;
  }
}

p {
  white-space: pre;
}

.dashboard {
  ion-item {
    border-top: 1px solid #eee;
    color: #999;
  }

  ion-card-header {
    float: left;
    text-align: center;
    background-color: #488aff;
    margin: 10px 10px;
    border-radius: 3px;
    padding: 15px;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    ion-icon {
      color: white;
      font-size: 72px;
    }
  }

  ion-card-content {
    margin-top: 25px;
  }

  p {
    color: #999;
    text-align: right;
  }

  h1 {
    text-align: right;
  }
}


.dashboard-disabled {
  ion-card-header {
    background-color: #eeeeee;
  }

  h1 {
    color: #eeeeee;
  }
}

.dashboard-danger {
  ion-card-header {
    background-color: #f53d3d;
  }

  h1 {
    color: #f53d3d;
  }

  ion-item {
    button {
      color: #f53d3d;
    }
  }
}


.login {
  form {
    align-content: center;
    width: 600px;
  }
  background: url("../assets/imgs/login_bg.png") no-repeat;
  background-size: 100%;
}

.login-box {
  background-color: #eeeeee;
}

// Homepage

.card-ticket {
  -webkit-box-shadow: 0 3px 5px #333;
  -moz-box-shadow: 0 3px 5px #333;
  box-shadow: 0 3px 5px #333;
}

.card-ticket h1, .card-ticket p {
  color: #ffffff;
  text-align: left;
}

.card-ticket-add {
  background-color: #ac202d;
}

.card-ticket-opened ion-item, .card-ticket-opened ion-card-content, .card-ticket-opened {
  background-color: #29B6F6;
  color: #ffffff;
}

.card-ticket-waiting ion-item, .card-ticket-waiting ion-card-content, .card-ticket-waiting ion-card {
  background-color: #BDBDBD;
  color: #ffffff;
}

.card-ticket-closed ion-item, .card-ticket-closed ion-card-content, .card-ticket-closed ion-card {
  background-color: #66BB6A;
  color: #ffffff;
}

.ticket-type {
  font-size: 48px;
  color: #f4f4f4;
}

.card-ticket-opened ion-item:last-child {
  color: #29B6F6;
  background-color: #ffffff;
}

.card-ticket-waiting ion-item:last-child {
  color: #BDBDBD;
  background-color: #ffffff;
}

.card-ticket-closed ion-item:last-child {
  color: #66BB6A;
  background-color: #ffffff;
}

// Ticket form

.ticket-form-opened ion-card-header {
  background-color: #29B6F6;
  color: #ffffff;
}

.ticket-form-waiting ion-card-header {
  background-color: #BDBDBD;
  color: #ffffff;
}

.ticket-form-closed ion-card-header {
  background-color: #66BB6A;
  color: #ffffff;
}

.priority {
  color: #32db64;
}

.priority-disabled {
  color: #BDBDBD;
}

.urgency {
  color: #FFAB91;
}

.urgency-disabled {
  color: #BDBDBD;
}

.impact {
  color: #FFAB91;
}

.impact-disabled {
  color: #BDBDBD;
}

.type-selected {
  color: #29B6F6;
}

.type-not-selected {
  color: #BDBDBD;
}


.input-right input {
  text-align: right;
  /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
  ::-webkit-input-placeholder {
    text-align: right;
  }
}

.avatar-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-bar {
  border-right: 1px solid #dedede;
  border-right-color: rgb(222, 222, 222);
  border-right-style: solid;
  border-right-width: 1px;
}

.chip-content {
  padding-left: 40px;
}

.title {
  font-size: 1.2rem;
  color: #999;
}

.ticket-followup {
  background-color: #90e6fe;
}

.ticket-task {
 background-color: #feda90;
}

.ticket-history {
  background-color: #e1bee7;
}

.ticket-information {
  background-color: lightgrey;
}

// ********** Timeline ********** //

/*
.main-timeline{
  display: inline-block;
  padding: 5px 0;
  position: relative;
}
.main-timeline:before{
  content: "";
  width: 10px;
  height: 100%;
  background: #303334;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-timeline .timeline{
  width: 50.4%;
  float: right;
  padding: 0 0 0 15px;
  position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid #303334;
  background: #fe9505;
  position: absolute;
  top: 50%;
  left: -20px;
  z-index: 1;
  transform: translateY(-50%);
}
.main-timeline .timeline:after{
  width: 90px;
  height: 90px;
  border: none;
  background: linear-gradient(to right,transparent 70%,#4d4d4d 70%);
  left: -50px;
  z-index: 0;
}
.main-timeline .timeline-content{
  display: inline-block;
  background: #4d4d4d;
  border-radius: 15px;
  overflow: hidden;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 50%, 7% 0);
  clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 50%, 7% 0);
}
.main-timeline .timeline-icon{
  display: block;
  font-size: 70px;
  color: #fe9505;
  position: absolute;
  top: 50%;
  left: 13%;
  transform: translateY(-50%);
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .inner-content{
  width: 80%;
  float: right;
  padding: 20px;
  background: #fe9505;
  position: relative;
}
.main-timeline .title{
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}
.main-timeline .description{
  font-size: 15px;
  color: #000;
  letter-spacing: 1px;
  margin: 0;
}
.main-timeline .timeline:nth-child(2n){
  float: left;
  padding: 0 15px 0 0;
}
.main-timeline .timeline:nth-child(2n):before{
  left: auto;
  right: -20px;
}
.main-timeline .timeline:nth-child(2n):after{
  background: linear-gradient(to left,transparent 70%,#4d4d4d 70%);
  left: auto;
  right: -50px;
}
.main-timeline .timeline:nth-child(2n) .timeline-content{
  -webkit-clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 50%, 90% 0);
  clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 50%, 90% 0);
}
.main-timeline .timeline:nth-child(2n) .timeline-icon{
  left: auto;
  right: 13%;
}
.main-timeline .timeline:nth-child(2n) .inner-content{
  float: left;
}
.main-timeline .timeline:nth-child(2n):before,
.main-timeline .timeline:nth-child(2n) .inner-content{ background: #ec407a; }
.main-timeline .timeline:nth-child(2n) .timeline-icon{ color: #EC407A; }
.main-timeline .timeline:nth-child(3n):before,
.main-timeline .timeline:nth-child(3n) .inner-content{ background: #25c6da; }
.main-timeline .timeline:nth-child(3n) .timeline-icon{ color: #25c6da; }
.main-timeline .timeline:nth-child(4n):before,
.main-timeline .timeline:nth-child(4n) .inner-content{ background: #41a4f5; }
.main-timeline .timeline:nth-child(4n) .timeline-icon{ color: #41a4f5; }
@media only screen and (max-width: 990px){
  .main-timeline .timeline-icon{
    font-size: 50px;
    left: 14%;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-icon{
    font-size: 50px;
    right: 14%;
  }
}
@media only screen and (max-width: 767px){
  .main-timeline:before,
  .main-timeline:after{
    left: 6%;
    transform: translateX(0);
  }
  .main-timeline .timeline,
  .main-timeline .timeline:nth-child(2n){
    width: 93%;
    float: right;
    padding: 0 0 15px 15px;
  }
  .main-timeline .timeline:before,
  .main-timeline .timeline:nth-child(2n):before{
    right: auto;
    left: -25px;
  }
  .main-timeline .timeline:nth-child(2n):after{
    background: linear-gradient(to right,transparent 70%,#4d4d4d 70%);
    right: auto;
    left: -50px;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-content{
    -webkit-clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 50%, 7% 0);
    clip-path: polygon(100% 0, 100% 100%, 7% 100%, 0 50%, 7% 0);
  }
  .main-timeline .inner-content,
  .main-timeline .timeline:nth-child(2n) .inner-content{
    width: 72%;
    float: right;
  }
  .main-timeline .timeline:nth-child(2n) .timeline-icon{
    font-size: 60px;
    right: auto;
    left: 14%;
  }
}
@media only screen and (max-width: 479px){
  .main-timeline:before,
  .main-timeline:after{ left: 4%; }
  .main-timeline .timeline:after,
  .main-timeline .timeline:nth-child(2n):after{ left: -57px; }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(2n) .timeline-icon{
    font-size: 40px;
    left: 18%;
  }
  .main-timeline .inner-content,
  .main-timeline .timeline:nth-child(2n) .inner-content{
    width: 60%;
    padding: 10px;
  }
  .main-timeline .title{ font-size: 14px; }
  .main-timeline .description{ font-size: 13px; }
}
*/

.timeline{
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);

  position: relative;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.timeline:before{
  content: "";
  width: 6px;
  height: 100%;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  top: 0;
}

.timeline__group{
  position: relative;
}

.timeline__group:not(:first-of-type){
  margin-top: 4rem;
}

.timeline__year{
  padding: .5rem 1.5rem;
  color: var(--uiTimelineSecondaryColor);
  background-color: #488aff;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.timeline__box{
  position: relative;
}

.timeline__box:not(:last-of-type){
  margin-bottom: 30px;
}

.timeline__box:before{
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--uiTimelineMainColor);

  position: absolute;
  left: 0;
  z-index: -1;
}

.timeline__date{
  min-width: 66px;
  height: 66px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: 2.2rem 1.5rem;
  text-align: center;
  color: #000000;
  border-radius: 33px;
  border: 2px;
  border-color: #333;
  border-style: solid;
  font-weight: bold;
}

.timeline__day{
  font-size: 2rem;
  font-weight: 700;
  display: block;
}

.timeline__month{
  display: block;
  font-size: .8em;
  text-transform: uppercase;
}

.timeline__post{
  padding: 1.5rem 2rem;
  border-radius: 2px;
  border-left: 3px solid var(--uiTimelineMainColor);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  background-color: var(--uiTimelineSecondaryColor);
}

@media screen and (min-width: 641px){

  .timeline:before{
    left: 30px;
  }

  .timeline__group{
    padding-top: 55px;
  }

  .timeline__box{
    padding-left: 80px;
  }

  .timeline__box:before{
    top: 50%;
    transform: translateY(-50%);
  }

  .timeline__date{
    top: 50%;
    margin-top: -47px;
  }
}

@media screen and (max-width: 640px){

  .timeline:before{
    left: 0;
  }

  .timeline__group{
    padding-top: 40px;
  }

  .timeline__box{
    padding-left: 20px;
    padding-top: 70px;
  }

  .timeline__box:before{
    top: 90px;
  }

  .timeline__date{
    top: 0;
  }
}

.timeline{
  --timelineMainColor: #333;
  font-size: 16px;
}


@media screen and (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media screen and (max-width: 767px){

  html{
    font-size: 55%;
  }
}
