// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

ion-icon {
  &[class*="glpi-"] {
    width: 100px;
    height: 18px;
  }
}

p {
  white-space: pre;
}

.dashboard {
  ion-item {
    border-top: 1px solid #eee;
    color: #999;
  }

  ion-card-header {
    float: left;
    text-align: center;
    background-color: #488aff;
    margin: 10px 10px;
    border-radius: 3px;
    padding: 15px;
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    ion-icon {
      color: white;
      font-size: 72px;
    }
  }

  ion-card-content {
    margin-top: 25px;
  }

  p {
    color: #999;
    text-align: right;
  }

  h1 {
    text-align: right;
  }
}


.dashboard-disabled {
  ion-card-header {
    background-color: #eeeeee;
  }

  h1 {
    color: #eeeeee;
  }
}

.dashboard-danger {
  ion-card-header {
    background-color: #f53d3d;
  }

  h1 {
    color: #f53d3d;
  }

  ion-item {
    button {
      color: #f53d3d;
    }
  }
}


.login {
  form {
    align-content: center;
    width: 600px;
  }
  background: url("../assets/imgs/login_bg.png") no-repeat;
  background-size: 100%;
}

.login-box {
  background-color: #eeeeee;
}

// Homepage

.card-ticket {
  -webkit-box-shadow: 0 3px 5px #333;
  -moz-box-shadow: 0 3px 5px #333;
  box-shadow: 0 3px 5px #333;
}

.card-ticket h1, .card-ticket p {
  color: #ffffff;
  text-align: left;
}

.card-ticket-add {
  background-color: #ac202d;
}

.card-ticket-opened ion-item, .card-ticket-opened ion-card-content, .card-ticket-opened {
  background-color: #29B6F6;
  color: #ffffff;
}

.card-ticket-waiting ion-item, .card-ticket-waiting ion-card-content, .card-ticket-waiting ion-card {
  background-color: #BDBDBD;
  color: #ffffff;
}

.card-ticket-closed ion-item, .card-ticket-closed ion-card-content, .card-ticket-closed ion-card {
  background-color: #66BB6A;
  color: #ffffff;
}

.ticket-type {
  font-size: 48px;
  color: #f4f4f4;
}

.card-ticket-opened ion-item:last-child {
  color: #29B6F6;
  background-color: #ffffff;
}

.card-ticket-waiting ion-item:last-child {
  color: #BDBDBD;
  background-color: #ffffff;
}

.card-ticket-closed ion-item:last-child {
  color: #66BB6A;
  background-color: #ffffff;
}

// Ticket form

.ticket-form-opened ion-card-header {
  background-color: #29B6F6;
  color: #ffffff;
}

.ticket-form-waiting ion-card-header {
  background-color: #BDBDBD;
  color: #ffffff;
}

.ticket-form-closed ion-card-header {
  background-color: #66BB6A;
  color: #ffffff;
}

.priority {
  color: #32db64;
}

.priority-disabled {
  color: #BDBDBD;
}

.urgency {
  color: #FFAB91;
}

.urgency-disabled {
  color: #BDBDBD;
}

.impact {
  color: #FFAB91;
}

.impact-disabled {
  color: #BDBDBD;
}

.type-selected {
  color: #29B6F6;
}

.type-not-selected {
  color: #BDBDBD;
}


.input-right input {
  text-align: right;
  /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
  ::-webkit-input-placeholder {
    text-align: right;
  }
}
