<ion-header>

  <ion-navbar>
    <ion-title *ngIf="selectedItem.id>0">Ticket #{{selectedItem.id}} - {{selectedItem.name}}</ion-title>
    <ion-title *ngIf="selectedItem.id==0">{{ "New ticket" | translate }}</ion-title>
    <ion-buttons end *ngIf="changed">
      <button ion-button icon-end solid color="danger" (click)="updateItem()">
        <ion-icon name="md-send"></ion-icon>
        {{ "Save modifications" | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="ticketzone">
      <ion-segment-button value="summary">
        <ion-icon name="md-information-circle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="details">
        <ion-icon name="md-filing"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="actors">
        <ion-icon name="md-contacts"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="dates">
        <ion-icon name="md-time"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="traitement">
        <ion-icon name="md-chatbubbles"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div [ngSwitch]="ticketzone">
    <ion-list *ngSwitchCase="'summary'">
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-lg-4>
            <ion-item>
              <ion-label>{{ "Type" | translate }}</ion-label>
              <ion-select [(ngModel)]="selectedItem.type" interface="popover" (ionChange)="changeField('type')">
                <ion-option *ngFor="let type of types" [value]="type.value">
                  {{type.viewValue}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-lg-4>
            <ion-item>
              <ion-label>{{ "Status" | translate }}</ion-label>
              <ion-select [(ngModel)]="selectedItem.status" interface="popover" (ionChange)="changeField('status')">
                <ion-option *ngFor="let st of status" [value]="st.value">
                  {{st.viewValue}}
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-12 col-lg-4>
            <ion-item>
              <ion-label>{{ "Category" | translate }}</ion-label>
              <input type="hidden" [(ngModel)]="selectedItem.itilcategories_id" value="0" (input)="changeField('itilcategories_id')"/>
              <ion-input type="text" [(ngModel)]="selectedItem.itilcategories_name" (click)="openDropdownSelect('ITILCategory', true, 'ticketcategory')" [readonly]="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-label floating>{{ "Title" | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="selectedItem.name" value="{{selectedItem.name}}" (input)="changeField('name')"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>{{ "Description" | translate }}</ion-label>
        <ion-textarea type="text" [(ngModel)]="selectedItem.content" value="{{selectedItem.content}}" [attr.rows]="25" (input)="changeField('content')"></ion-textarea>
      </ion-item>
    </ion-list>



    <ion-list *ngSwitchCase="'actors'">
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-lg-4>
            <ion-item-group>
              <ion-item-divider color="light">{{ "Requesters" | translate }}
                <ion-fab right middle>
                  <button ion-fab mini><ion-icon name="add"></ion-icon></button>
                  <ion-fab-list side="left">
                    <button ion-fab (click)="addActors.showUser=true"><ion-icon name="person"></ion-icon></button>
                    <button ion-fab (click)="addActors.showGroup=true"><ion-icon name="md-people"></ion-icon></button>
                  </ion-fab-list>
                </ion-fab>
              </ion-item-divider>

              <ion-item *ngIf="addActors.showUser">
                <ion-label floating>{{ "User" | translate }}</ion-label>
                <input type="hidden" [(ngModel)]="addActors.users_id" value="0"/>
                <ion-input type="text" [(ngModel)]="addActors.users_name" (click)="openDropdownSelect('User', true)" [readonly]="true"></ion-input>
              </ion-item>

              <ion-item *ngIf="addActors.showGroup">
                <ion-label floating>{{ "Group" | translate }}</ion-label>
                <input type="hidden" [(ngModel)]="addActors.groups_id" value="0"/>
                <ion-input type="text" [(ngModel)]="addActors.groups_name" (click)="openDropdownSelect('Group', true)" [readonly]="true"></ion-input>
              </ion-item>

              <ion-item *ngFor="let item of actors.demandeurs">
                <ion-icon name="person" item-start></ion-icon>
                {{item.users_id}}
              </ion-item>
              <ion-item *ngFor="let item of groups.demandeurs">
                <ion-icon name="md-people" item-start></ion-icon>
                {{item.groups_id}}
              </ion-item>
            </ion-item-group>
          </ion-col>

          <ion-col col-12 col-lg-4>
            <ion-item-group>
              <ion-item-divider color="light">{{ "Observers" | translate }}
                <ion-fab right middle>
                  <button ion-fab mini (click)="addObserver()"><ion-icon name="add"></ion-icon></button>
                </ion-fab>
              </ion-item-divider>
              <ion-item *ngFor="let item of actors.observateurs">
                <ion-icon name="person" item-start></ion-icon>
                {{item.users_id}}
              </ion-item>
              <ion-item *ngFor="let item of groups.observateurs">
                <ion-icon name="md-people" item-start></ion-icon>
                {{item.groups_id}}
              </ion-item>
            </ion-item-group>
          </ion-col>

          <ion-col col-12 col-lg-4>
            <ion-item-group>
              <ion-item-divider color="light">{{ "Assigned" | translate }}
                <ion-fab right middle>
                  <button ion-fab mini (click)="addAssigned()"><ion-icon name="add"></ion-icon></button>
                </ion-fab>
              </ion-item-divider>

              <ion-item *ngIf="addActors.showUserAssigned">
                <ion-label floating>{{ "User" | translate }}</ion-label>
                <input type="hidden" [(ngModel)]="addActors.users_id" value="0"/>
                <ion-input type="text" [(ngModel)]="addActors.users_name" (click)="openDropdownSelect('User', true)" [readonly]="true"></ion-input>
              </ion-item>

              <ion-item *ngIf="addActors.showGroupAssigned">
                <ion-label floating>{{ "Group" | translate }}</ion-label>
                <input type="hidden" [(ngModel)]="addActors.groups_id" value="0"/>
                <ion-input type="text" [(ngModel)]="addActors.groups_name" (click)="openDropdownSelect('Group', true)" [readonly]="true"></ion-input>
              </ion-item>

              <ion-item *ngFor="let item of actors.assignes">
                <ion-icon name="person" item-start></ion-icon>
                {{item.users_id}}
              </ion-item>
              <ion-item *ngFor="let item of groups.assignes">
                <ion-icon name="md-people" item-start></ion-icon>
                {{item.groups_id}}
              </ion-item>
            </ion-item-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'dates'">
      <ion-grid>
        <ion-row>
          <ion-col col-sm-12 col-md-3>
            <ion-item>
              <ion-label floating>{{ "Opening date" | translate }}</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" [(ngModel)]="selectedItem.date"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-sm-12 col-md-3>
            <ion-item>
              <ion-label floating>{{ "Last modification" | translate }}</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" [(ngModel)]="selectedItem.date_mod"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-sm-12 col-md-3>
            <ion-item>
              <ion-label floating>{{ "solve date" | translate }}</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" [(ngModel)]="selectedItem.solvedate"></ion-datetime>
            </ion-item>
          </ion-col>
          <ion-col col-sm-12 col-md-3>
            <ion-item>
              <ion-label floating>{{ "Close date" | translate }}</ion-label>
              <ion-datetime displayFormat="YYYY-MM-DD HH:mm:ss" [(ngModel)]="selectedItem.closedate"></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'details'">
      <ion-item>
        <ion-label floating>{{ "Created by" | translate }}</ion-label>
        <ion-input type="text" value="{{selectedItem.users_id_recipient}}" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ "Request type" | translate }}</ion-label>
        <input type="hidden" [(ngModel)]="selectedItem.requesttypes_id" value="0"/>
        <ion-input type="text" [(ngModel)]="selectedItem.requesttypes_name" (click)="openDropdownSelect('RequestType', true, 'ticketrequesttype')" [readonly]="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ "Urgency" | translate }}</ion-label>
        <ion-select [(ngModel)]="selectedItem.urgency" interface="popover" (ionChange)="changeField('urgency')">
          <ion-option *ngFor="let val of urgencyImpact" [value]="val.value">
            {{val.viewValue}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ "Impact" | translate }}</ion-label>
        <ion-select [(ngModel)]="selectedItem.impact" interface="popover" (ionChange)="changeField('impact')">
          <ion-option *ngFor="let val of urgencyImpact" [value]="val.value">
            {{val.viewValue}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ "Priority" | translate }}</ion-label>
        <ion-select [(ngModel)]="selectedItem.priority" interface="popover" (ionChange)="changeField('priority')">
          <ion-option *ngFor="let val of priorities" [value]="val.value">
            {{val.viewValue}}
          </ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>{{ "Location" | translate }}</ion-label>
        <input type="hidden" [(ngModel)]="selectedItem.locations_id" value="0" (input)="changeField('locations_id')"/>
        <ion-input type="text" [(ngModel)]="selectedItem.locations_name" (click)="openDropdownSelect('Location', true, 'ticketlocation')" [readonly]="true"></ion-input>
      </ion-item>
      <!--
      <ion-item>
        <ion-label floating>Validation</ion-label>
        //
      </ion-item>
      <ion-item>
        <ion-label floating>Éléments associés</ion-label>
        //
      </ion-item>
      <ion-item>
        <ion-label floating>Tickets liés</ion-label>
        //
      </ion-item>
      -->
    </ion-list>

    <ion-list *ngSwitchCase="'traitement'">
      <ion-fab right top #fabtraitement>
        <button ion-fab><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="bottom">
          <button ion-fab color="ticketfollowup" (click)="displayForm('followup', fabtraitement)"><ion-icon name="md-chatboxes"></ion-icon></button>
          <button ion-fab color="tickettask" (click)="displayForm('task', fabtraitement)"><ion-icon name="md-checkbox-outline"></ion-icon></button>
          <button ion-fab color="ticketdocument"><ion-icon name="md-document"></ion-icon></button>
          <button ion-fab color="ticketsolution"><ion-icon name="md-checkmark"></ion-icon></button>
        </ion-fab-list>
      </ion-fab>

      <!-- New followup form -->
      <ion-card *ngIf="newfollowup.content != null" color="ticketfollowup">
        <ion-card-header>
          {{ "New followup" | translate }}
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label floating>{{ "Description" | translate }}</ion-label>
            <ion-textarea type="text" [(ngModel)]="newfollowup.content" value="{{newfollowup.content}}" [attr.rows]="25"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ "Followup type" | translate }}</ion-label>
            <input type="hidden" [(ngModel)]="newfollowup.requesttypes_id" value="0"/>
            <ion-input type="text" [(ngModel)]="newfollowup.requesttypes_name" (click)="openDropdownSelect('RequestType', false)" [readonly]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>{{ "Private" | translate }}</ion-label>
            <ion-toggle [(ngModel)]="newfollowup.is_private" color="danger"></ion-toggle>
          </ion-item>
        </ion-list>
        <button ion-button full (click)="addFollowup()">{{ "Create the followup" | translate }}</button>
      </ion-card>

      <!-- New task form -->
      <ion-card *ngIf="newtask.content != null" color="tickettask">
        <ion-card-header>
          {{ "New task" | translate }}
        </ion-card-header>
        <ion-list>
          <ion-item>
            <ion-label floating>{{ "Description" | translate }}</ion-label>
            <ion-textarea type="text" [(ngModel)]="newtask.content" value="{{newtask.content}}" [attr.rows]="25"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ "User"| translate }}</ion-label>
            <input type="hidden" [(ngModel)]="newtask.users_id_tech" value="0"/>
            <ion-input type="text" [(ngModel)]="newtask.users_tech_name" (click)="openDropdownSelect('User', false, 'taskusertech')" [readonly]="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ "Group" | translate }}</ion-label>
            <input type="hidden" [(ngModel)]="newtask.groups_id_tech" value="0"/>
            <ion-input type="text" [(ngModel)]="newtask.groups_tech_name" (click)="openDropdownSelect('Group', false, 'taskgrouptech')" [readonly]="true"></ion-input>
          </ion-item>
        </ion-list>
        <button ion-button full (click)="addTask()">{{ "Create the task" | translate }}</button>
      </ion-card>

      <ion-card *ngFor="let item of timeline" color="{{item._color}}">
        <ion-item color="{{item._color}}">
          <ion-icon name="{{item._type}}" item-start large></ion-icon>
          <h2>{{item.users_id}}</h2>
        </ion-item>

        <ion-card-content>
          <p>{{item.content}}</p>
        </ion-card-content>

        <ion-row>
          <ion-col *ngIf="item.is_private">
            <button ion-button icon-left clear small>
              <ion-icon name="md-lock" color="danger"> {{ "Private" | translate }}</ion-icon>
            </button>
          </ion-col>
          <ion-col center text-center>
            {{item.requesttypes_id}}
          </ion-col>
          <ion-col center text-center>
            {{item.date}}
          </ion-col>
        </ion-row>
      </ion-card>

    </ion-list>

  </div>
</ion-content>
