.addicon {
  font-size: 120px;
}

ion-card {
  min-height: 200px;
}

ion-card-content {
  text-align: center;
}

.item-disabled {
  opacity: 0.1;
}

ion-card-title {
 min-height: 48px;
}

ion-icon {
  font-size: 20px;
}